include README.md
recursive-include octoprint_PrintJobHistory-ExternalDatabase/templates *
recursive-include octoprint_PrintJobHistory-ExternalDatabase/translations *
recursive-include octoprint_PrintJobHistory-ExternalDatabase/static *
