include README.md
recursive-include octoprint_PrintJobHistory_ExternalDatabase/templates *
recursive-include octoprint_PrintJobHistory_ExternalDatabase/translations *
recursive-include octoprint_PrintJobHistory_ExternalDatabase/static *
